{
  "server": "https://example.com",
  "openIdConnect": {
    "metadata_url": "https://example.com/.well-known/openid-configuration",
    "authority": "https://example.com",
    "client_id": "example-client-id",
    "response_type": "code",
    "scope": "openid profile email",
    "redirect_uri": "https://example.com/oidc-callback.html",
    "silent_redirect_uri": "https://example.com/oidc-silent-callback.html",
    "logLevel": 1,
    "popupWindowFeatures": "location=no,toolbar=no,width=895,height=990,left=100,top=100"
  }
}
